* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper {
  /*background: #b3d9ff;*/
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "h1 h1 h1"
    "header header header"
    "banner banner off1"
    "banner banner off2"
    "sm main main"
    "recent main main"
    "tags main main"
    "footer footer footer";
}

.wrapper > * {
  display: grid;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

h1 {
  background: #80bfff;
  grid-area: h1;
}

header {
  background: #80bfff;
  grid-area: header;
}

.banner {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  grid-area: banner;
  min-height: 20vh;
}
.off1 {
  background: yellow;
  grid-area: off1;
}
.off2 {
  background: brown;
  grid-area: off2;
}

.side-menu {
  background: lawngreen;
  grid-area: sm;
}
.recent {
  background: gray;
  grid-area: recent;
}
.tags {
  background: goldenrod;
  grid-area: tags;
}
.main {
  background: brown;
  grid-area: main;
}

.product1 {
  background: brown;
  grid-area: product1;
}

footer {
  background: black;
  grid-area: footer;
}

/* ipads 1024px and mobile 576px*/
@media (576px < width <= 1024px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "h1 h1"
      "header header"
      "banner banner"
      "off1 off2"
      "sm sm"
      "main main"
      "recent tags"
      "footer footer";
  }
}

@media (max-width: 576px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "h1"
      "header "
      "banner"
      "off1"
      "off2"
      "sm"
      "main"
      "recent"
      "tags"
      "footer";
  }
}
